:-webkit-full-screen a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

:-moz-full-screen a {
    display: flex
}

:-ms-fullscreen a {
    display: -ms-flexbox;
    display: flex
}

:fullscreen a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

a {
	background: -webkit-linear-gradient(top, white, black);
	background: linear-gradient(top,white,black)
}

h1 {
    -webkit-transition: all 1s;
            transition: all 1s
}

#image {
	-webkit-animation-name: spin;
	        animation-name: spin;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}