/* 

	Test css for minifier. 

*/
@media only screen and (max-width: 767px) {
  .container { width: 768px; }
  .container .column,
  .container .columns { margin-left: 10px; margin-right: 10px; }
}

someRule 	.someSelector {
	text-align :center ; 
	background: url( '  this {quoted text } should remain just   as badly spaced ') no-repeat;
	background: url( 'someURL') ;

}

/* more comments */ /*  */
anotherRule	
.withOddlySpacedSelector
{
	font: 12px   solid  black; /* Rule with double spaces in between parameters */
	background: url( "  this double quoted text  should remain just   as badly spaced") no-repeat;
	
}

/* more comments */ /*  */
anotherRule	
.withDollarAndBackSlashSelector
{
	font: 12px   solid  black; /* Rule with double spaces in between parameters */
	background: url( "  aFolder\image\rainbow\img$4.jpg") no-repeat;
	
}

/** CSS3 selectors */
E[foo] { background : white }
E[foo="bar"] { background : white }
E[foo~="bar"] { background : white }
E[foo^="bar"] { background : white }
E[foo$="bar"] { background : white }
E[foo*="bar"] { background : white }
E[foo|="en"] { background : white }
E:root { background : white }
E:nth-child(n) { background : white }
E:nth-last-child(n) { background : white }
E:nth-child(n) { background : white }
E:nth-last-child(n) { background : white }
E:nth-of-type(n) { background : white }
E:nth-last-of-type(n) { background : white }
E:first-child { background : white }
E:last-child { background : white }
E:first-of-type { background : white }
E:last-of-type { background : white }
E:only-child { background : white }
E:only-of-type { background : white }
E:empty { background : white }
E:link { background : white }
E:visited { background : white }
E:active { background : white }
E:hover { background : white }
E:focus { background : white }
E:target { background : white }
E:lang(fr) { background : white }
E:enabled { background : white }
E:disabled { background : white }
E:checked { background : white }
E::first-line { background : white }
E::first-letter { background : white }
E::before { background : white }
E::after { background : white }
E.warning { background : white }
E#myid { background : white }
E:not(s) { background : white }
E F { background : white }
E > F { background : white }
E + F { background : white }
E ~ F { background : white }

/* done! */
	 