.header {
	background-image: url("../../../../images/logo_fr.png");
	background-repeat: no-repeat;
	height : 81px;
	margin-left : 232px;
}

#tabView {
	
	margin: 0 5px 0 232px;
}

.flag {
	background : #ffffff url("../../../../images/flags/fr.png") no-repeat;
	height : 20px;
}