.content-navigation {
  border-color: #3bbfce;
  color: #0000ff; }

.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfce; }

.caption {
  border: 1px solid red;
  background: #ff0000;
  padding: 5px;
  margin: 5px; }

.text {
  font-weight: bold;
  color: red; }
