.mandatory { 
	color:black;
	background: #fff url(../../../jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.info { 
	color:black;
	background: #fff url(../../../jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}
.link {
	color:white;
	background-color:green;
}

body {
	background-image: url("../../../cb1c4f780bb559debb8ec0e869c7ecf698/smartbundling/img/logo.png");
	background-repeat: no-repeat;
}

div {

	padding-top : 8px;		
}

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../cb5307b72fafd649c3039882c5d106b5d6/smartbundling/img/calendarIcons/calendar.png");
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../jar_cbf1cabcee8d06aecc2dd8a9dd5b43549e/net/jawr/img/clock.png");
}
