.mandatory { 
	color:black;
	background: #fff url(../../../jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.info { 
	color:black;
	background: #fff url(../../../jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.generated_class { color : #DA00FF; }
body {
	background-image: url("../../../cb1c4f780bb559debb8ec0e869c7ecf698/img/logo.png");
	background-repeat: no-repeat;
}

div {

	padding-top : 8px;		
}

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../cb5307b72fafd649c3039882c5d106b5d6/img/calendarIcons/calendar.png");
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../jar_cbf1cabcee8d06aecc2dd8a9dd5b43549e/net/jawr/img/clock.png");
}

.generated_class2 { color : #FFAD00; }
:-webkit-full-screen a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

:-moz-full-screen a {
    display: flex
}

:-ms-fullscreen a {
    display: -ms-flexbox;
    display: flex
}

:fullscreen a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

a {
	background: -webkit-linear-gradient(top, white, black);
	background: linear-gradient(top,white,black)
}

h1 {
    -webkit-transition: all 1s;
            transition: all 1s
}

#image {
	-webkit-animation-name: spin;
	        animation-name: spin;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}
