.mandatory {
color:black;
background-image: url('../img/myImg1.png');
background-repeat: no-repeat;
padding-left : 20px;
font-family: sans-serif, courier, arial;
border : thin solid rgb(250,0,255);
}

.info {
color:black;
background-image: url("../img/myImg2.png"); /** jawr:base64 */
background-repeat: no-repeat;
padding-left : 20px;
margin-top : 80px;
border : thin solid rgb(250,0,255);
}
.info {
color:black;
background-image: url("../img/myImg3.png"); /** jawr:base64-skip */
background-repeat: no-repeat;
padding-left : 20px;
margin-top : 80px;
border : thin solid rgb(250,0,255);
}
.tools {
color:black;
background-image: url("sprite:/img/mySprite.png");  
background-repeat: no-repeat;
padding-left : 20px;
margin-top : 80px;
border : thin solid rgb(250,0,255);
}

div {

padding-top : 8px;
}
