.mandatory { 
	color:black;
	background: #fff url(/jawr-integration-test/img/cog.png) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.info { 
	color:black;
	background: #fff url(/jawr-integration-test/img/cog.png) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}