body {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
}

div {

	padding-top : 8px;		
}

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../img/calendarIcons/calendar.png");
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../jawrImg/jar_cbDebug/net/jawr/img/clock.png");
}