.caption {
  border: 1px solid black;
  background: #ff0000;
  padding: 10px;
  margin: 10px; }

.body {
  background-image: url(img/appIcons/application.png); }

.text {
  font-weight: bold;
  color: red; }
