/** sprite: myCpsprite; sprite-image: url('sprite:/img/myCpSprite.png'); sprite-layout: vertical */ 

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../images/calendarIcons/calendar.png"); /** jawr:base64-skip */
	
}

.base64Clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("jar:net/jawr/img/clock.png"); 
	 
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("jar:net/jawr/img/clock.png"); /** sprite-ref: myCpsprite; */ 
	 
}
