/** sprite: mysprite; sprite-image: url('../img/mysprite.png'); sprite-layout: vertical */ 

.header {
	background-image: url("../img/logo.png"); /** sprite-ref: mysprite; */
	background-repeat: no-repeat;
	height : 74px;
}

div {

	padding-top : 8px;		
}

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../img/calendarIcons/calendar.png"); /** jawr:base64-skip */
	
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../img/clock.png"); /** sprite-ref: mysprite; */ 
	 
}

.tools {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../img/cog.png"); /** sprite-ref: mysprite; sprite-margin-top: 10px */ 
}