#header {
  color: #4D926F;
}
h2 {
  color: #4D926F;
}
.box {
  box-shadow: 2px 5px 1px #000;
  -moz-box-shadow: 2px 5px 1px #000;
  -webkit-box-shadow: 2px 5px 1px #000;
}
body {
  background-image: url("css/generator/img/logo.png");
  background-repeat: no-repeat;
}
div {
  color: #4D926F;
  padding-top: 8px;
}
.calendar {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-image: url("css/generator/img/calendarIcons/calendar.png");
}
.clock {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-image: url("/jar_cbDebug/net/jawr/img/clock.png");
}
