
.mandatory { 
	color:black;
  background-image: url('../../../sprite_cbbce020e6bfcd7ceaf3202fa3c09e3f6d/img/myCpSprite.png');
  background-position: left -0px;
	background-repeat: no-repeat;
	padding-left : 20px;
	font-family: sans-serif, courier, arial;
	border : thin solid rgb(250,0,255);
}

.info { 
	color:black;
  background-image: url('../../../sprite_cbbce020e6bfcd7ceaf3202fa3c09e3f6d/img/myCpSprite.png');
  background-position: left -0px;
	background-repeat: no-repeat;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.tools { 
	color:black;
  background-image: url('../../../sprite_cbbce020e6bfcd7ceaf3202fa3c09e3f6d/img/myCpSprite.png');
  background-position: left -26px;
	background-repeat: no-repeat;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}


.header {
  background-image: url('../../../cb4e204bd45def37379b77f9b9090d953a/img/mysprite.png');
  background-position: left -0px;
	background-repeat: no-repeat;
	height : 74px;
}

div {

	padding-top : 8px;		
}

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
  background-image: url('../../../cb4e204bd45def37379b77f9b9090d953a/img/mysprite.png');
  background-position: left -82px;
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
  background-image: url('../../../cb4e204bd45def37379b77f9b9090d953a/img/mysprite.png');
  background-position: left -108px;
	 
}


.calendar_edit {
	background-repeat: no-repeat;
	padding-left : 20px;
  background-image: url('../../../cb4e204bd45def37379b77f9b9090d953a/img/mysprite.png');
  background-position: left -124px;
}

.tools {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../css/img/cog.png"); /** sprite-ref: mysprite; sprite-margin-top: 10px */ 
}

