/** sprite: myCpsprite; sprite-image: url('sprite_cbbce020e6bfcd7ceaf3202fa3c09e3f6d/img/myCpSprite.png'); sprite-layout: vertical */ 

.mandatory { 
	color:black;
	background-image: url(jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif);  /** sprite-ref: myCpsprite; sprite-margin-top: 8px; sprite-margin-bottom: 5px */
	background-repeat: no-repeat;
	padding-left : 20px;
	font-family: sans-serif, courier, arial;
	border : thin solid rgb(250,0,255);
}

.info { 
	color:black;
	background-image: url(jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif);  /** sprite-ref: myCpsprite; sprite-margin-top: 8px; sprite-margin-bottom: 5px */
	background-repeat: no-repeat;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.tools { 
	color:black;
	background-image: url(img_cb30a18063ef42b090194a7e936086960f/cog.png);  /** sprite-ref: myCpsprite; */
	background-repeat: no-repeat;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}