/** CSS resource : /css/inclusion/global/global.css **/
.global { color : red; }
.mainContent { margin-top : 80px; }

/** CSS resource : /css/inclusion/global/global_1.css **/
.global_1 { color : blue; }