/** sprite: mysprite; sprite-image: url('../../img/mysprite-${md5}.png'); sprite-layout: vertical */ 

.calendar_delete {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../img/calendarIcons/calendar_delete.png"); /** sprite-ref: mysprite; */
}
