.mandatory { 
	color:black;
	background: #fff url(../../../../imgJawr/jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.info { 
	color:black;
	background: #fff url(../../../../imgJawr/jar_cb3df496cbae960efd97933bdd50e5d454/fwk/img/iconInformation.gif) no-repeat left;
	padding-left : 20px;
	margin-top : 80px;
	border : thin solid rgb(250,0,255);
}

.generated_class { color : #DA00FF; }
body {
	background-image: url("../../../../imgJawr/cb1c4f780bb559debb8ec0e869c7ecf698/img/logo.png");
	background-repeat: no-repeat;
}

div {

	padding-top : 8px;		
}

.calendar {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../../imgJawr/cb5307b72fafd649c3039882c5d106b5d6/img/calendarIcons/calendar.png");
}

.clock {
	background-repeat: no-repeat;
	padding-left : 20px;
	background-image: url("../../../../imgJawr/jar_cbf1cabcee8d06aecc2dd8a9dd5b43549e/net/jawr/img/clock.png");
}

.generated_class2 { color : #FFAD00; }
